
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/AngularJS/angular.js"></script>
    <link href="~/js/dist/css/style.css" rel="stylesheet" />
    <link href="~/Content/customStyle.css" rel="stylesheet" />
    <script src="https://centralapi.stariglocal.com/JsMaster/CRMJS/js/Auth/Auth.js"></script>
</head>
<body ng-app="Login" ng-controller="logincontroll">
    <div class="">
        <div class="jumbotron">
            <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
            <h1 class="text-center">404 Not Found <br/><small class="text-center"> Oh noes everything broke</small></h1>
            <p class="text-center">Try pressing the back button or clicking on this button.</p>
        </div>
    </div>
</body>
</html>
