
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/AngularJS/angular.js"></script>
    <script src="https://centralapi.stariglocal.com/JsMaster/CRMJS/js/Account/Login.js"></script>
    @*<script src="/js/Account/Login.js"></script>*@
    <link href="~/js/dist/css/style.css" rel="stylesheet" />
    <link href="~/Content/customStyle.css" rel="stylesheet" />
</head>
<body ng-app="Login" ng-controller="logincontroll">

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid" />
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <img src="{{LOGO}}">
                                <h3>Login to Your Account</h3>
                                @*<p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>*@
                            </div>
                            
                            <form name="loginform" ng-submit="loginform.$valid && sumbit()">
                                <div class="form-group first">
                                    <input type="text" class="form-control" ng-model="Email" autocomplete="off" name="Email" placeholder="Enter Mobile/Email" required="required">
                                    <span ng-show="loginform.Email.$touched && loginform.Email.$error.required" class="danger">Email Address Required</span>

                                </div>
                                <div ng-show="IsEmail" class="form-group first">
                                    <input type="password" autocomplete="off" class="form-control" ng-model="Password"
                                           name="Password" placeholder="Password">
                                    <span ng-show="loginform.Password.$touched && loginform.Password.$error.required" class="danger">Password Required</span>
                                </div>
                                <div ng-show="IsMobile" class="form-group first">
                                    <input type="text" autocomplete="off" class="form-control" ng-model="OTP"
                                           name="Password" placeholder=" ">
                                    <label class="demo-label" for="Mobile">Password</label>
                                    <span ng-show="loginform.Password.$touched && loginform.Password.$error.required" class="danger">Password Required</span>
                                </div>

                                <div class="d-flex mb-5 align-items-center justify-content-between">
                                    <a href="javascript:void(0)" ng-click="CreateAccount()">Create Account</a>
                                    <a href="javascript:void(0)" ng-click="IsResetPass()">Reset Password</a>
                                </div>
                                <input type="button" ng-click="nextProcess()" class="btn btn-block btn-primary"
                                       value="{{Login}}" />
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="page-wrapper ng-scope open_Main" style="display: block;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="createUserBox">


                    </div>
                </div>

                <div class="col-md-12 text-center" ng-show="isRenew">
                    <div class="createUserBox">
                        <h3>Renew with past policy number</h3>
                        <form>
                            <div class="input-wrap" id="EnterPass">
                                <input type="text" autocomplete="off" name="Renewal" ng-model="RenewalPolicy" value=" " class="textdemo" />
                                <label class="demo-label" for="Renewal">Your past policy number</label>
                            </div>
                            <div class="input-wrap input-wrapBtn">
                                <input type="button" class="btn btn-block" value="Renew" ng-click="GotoRenew()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Createdmodal" ng-show="IsReset">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <div class="close closeBtn resetClose" ng-click="IsResetPass()"></div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="createUserBox">
                                <h3>Are you sure you want to take this action?</h3>
                                <form>
                                    <div class="input-wrap" id="EnterPass">
                                        <input type="text" ng-model="EmailIDforReset" name="EmailReset" class="textdemo" autocomplete="off" />
                                        <label class="demo-label" for="EmailReset">Email ID</label>
                                    </div>
                                    <div class="input-wrap" id="EnterPass">
                                        <input type="password" ng-model="OldPassReset" name="OLDPass" class="textdemo" autocomplete="off" />
                                        <label class="demo-label" for="OLDPass">Old Password </label>
                                    </div>
                                    <div class="input-wrap" id="EnterPass">
                                        <input type="password" ng-model="NewPassReset" name="NewPass" class="textdemo" autocomplete="off" />
                                        <label class="demo-label" for="NewPass">New Password </label>
                                    </div>
                                    <div class="input-wrap" id="EnterPass">
                                        <input type="password" ng-model="ConfirmPassReset" name="ConfirmPass" class="textdemo" autocomplete="off" />
                                        <label class="demo-label" for="ConfirmPass">Confirm Password </label>
                                    </div>
                                    <div class="input-wrap input-wrapBtn">
                                        <input type="button" class="btn btn-block" value="Change"
                                               ng-click="ResetPass()" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
