
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/AngularJS/angular.js"></script>
    <script src="https://centralapi.stariglocal.com/JsMaster/CRMJS/js/Account/LinkLogin.js"></script>
</head>
<body>
    <div ng-app="LinkLogin" ng-controller="LinkLoginControll">
        <span>{{loading}}</span>
    </div>
</body>
</html>