
<div class="row">
    <div class="col-md-6 MPD03_Box">
        <div class="MyProfileDet03Cnt createUserBox generateLinkBox">
            <form>
                <div class="row form-group">
                    <div class="col-md-12">
                        <textarea name="Text1" ng-model="DigitalSigbody" cols="40" rows="5"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div id="iframecontainer">
                            <div id="iframe">
                                <div id="iframewrapper">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row MyProfileDet03CntServer">
                    <div class="col-md-3">
                        <input type="button" ng-click="SaveDigitalSig()" class="btn btn-block" value="Save">
                        @*<input type="button" ng-click="priviewDigitalSig()" class="btn btn-block" value="Priview">*@

                    </div>
                </div>
                <div class="row MyProfileDet03CntServer">
                    <div class="col-md-12">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
