
<div class="row form-group">
    <div class="col-md-12">
        <h3>Configure Support</h3>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" ng-model="ActiveSupport" />
                <input type="text" ng-model="SupportLink" placeholder="Link" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <label>
            <input type="button" value="Apply"
                   ng-click="SaveConfigSupport()" class="btn allBtn btn-block" />
        </label>
    </div>
</div>