
@{
    ViewData["Title"] = "CreateUser";
}

<script src="https://centralapi.stariglocal.com/JsMaster/CRMJS/js/Users/ManageUsers.js"></script>
@*<script src="/js/Users/ManageUsers.js"></script>*@

<div id="div" style="display:none;">
    <partial name="_AddUser" />
</div>
<div class="page-wrapper ng-scope open_Main" ng-controller="manageuser" style="display: block;">
    <div class="container">
        <section class="mngUserfirst">
            <div class="row">
                <div class="col-md-6">
                    <h3>Manage User</h3>
                </div>
                <div class="col-md-6 text-right">
                    <div class="input-wrap dropdown">
                        <a class="dropdown-toggle userMap" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User Kits <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down svg-icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left user-dd animated flipInY">
                            <a class="dropdown-item" href="{{item.url}}" target="_blank" ng-repeat="item in UserKits">
                                {{item.privilegeName}}
                            </a>
                            @*<a class="dropdown-item" href="javascript:void(0)">
                                PoS Link Creation
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Affiliate Link
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                User Mapping
                            </a>*@
                        </div>
                    </div>

                    <div class="input-wrap dropdown">
                        <a class="dropdown-toggle userMap" href="javascript:void(0)" target="_blank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utility<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down svg-icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left user-dd animated flipInY">
                            <a class="dropdown-item" href="{{item.url}}" target="_blank" ng-repeat="item in Utility">
                                {{item.privilegeName}}
                            </a>
                            @*<a class="dropdown-item" href="javascript:void(0)">
                                Request and Response
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Payment Fail
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Policy PDF
                            </a>*@
                        </div>
                    </div>

                    <div class="input-wrap dropdown">
                        <a class="dropdown-toggle userMap" href="javascript:void(0)" target="_blank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bulk Kits <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down svg-icon"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-Left user-dd animated flipInY">
                            <a class="dropdown-item" href="{{item.url}}" target="_blank" ng-repeat="item in BulkKits">
                                {{item.privilegeName}}
                            </a>
                            @*<a class="dropdown-item" href="javascript:void(0)">
                                Bulk Privileges
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                Mapped User
                            </a>*@
                        </div>
                    </div>
                    <div class="input-wrap" ng-show="IsCreateUser">
                        <button class="btn" ng-click="AddNewUser()" id="btnAddUser"><i class="fa fa-plus"></i> Add New User</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="mngUserSecond">
            <div class="row">
                <div class="col-md-12">
                    <div class="manageUserFLT">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contnt-div">
                                    <span class="inquiry-text">Total Users</span>
                                    <span id="totalUser">{{TotalUser}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contnt-div">
                                    <span class="inquiry-text">Active Users</span>
                                    <span id="totalUser">{{TotalAcitveUser}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contnt-div">
                                    <span class="inquiry-text">Deactive Users</span>
                                    <span id="totalUser">{{TotalDeactiveUser}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contnt-div">
                                    <select class="form-control" ng-model="SelecteRegion"
                                            ng-options="item.region for item in SelectRegionList"
                                            ng-change="FilterUserWithRegion(SelecteRegion)">
                                        <option value="">Filter By Region</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contnt-div">
                                    <select class="form-control" ng-model="SelectBranch"
                                            ng-options="item.cityName for item in SelectBranchList"
                                            ng-change="FilterUserWithBranch(SelecteRegion,SelectBranch)">
                                        <option value="">Filter By Branch</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="manageUserFLT">
                        <div class="row">
                            @*<div class="col-md-4 PadRight">
                                <div class="pull-left">
                                    <select class="theFilters ng-pristine ng-untouched ng-valid ng-empty" 
                                            ng-model="Region" ng-options="item.region for item in Regions" 
                                            ng-change="RegionFilter(Region)">
                                    <option value="" class="">All Region</option>
                                    </select>
                                </div>
                            </div>*@
                            @*<div class="col-md-4 PadRight">
                                <div class="">
                                    <select id="leadStatusId" class="theFilters">
                                        <option value="" selected="selected">Product Wise</option>
                                        <option value="Quotation Success">4 Wheeler</option>
                                        <option value="Proposal Success">4 Wheeler-TP</option>
                                        <option value="Payment Success">2 Wheeler</option>
                                        <option value="Payment Gateway">2 Wheeler-TP</option>
                                        <option value="Payment Gateway">OD</option>
                                        <option value="Payment Gateway">Taxi</option>
                                        <option value="Payment Gateway">GCV</option>
                                        <option value="Payment Fail">Health</option>
                                        <option value="Payment Fail">Travel</option>
                                        <option value="Payment Fail">Life</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 PadRight">
                                <div class="pull-left">
                                    <select class="theFilters ng-pristine ng-untouched ng-valid ng-empty" ng-model="leadStatusId" ng-change="leadsChange(leadStatusId)">
                                        <option value="" selected="selected">Lead Status</option>
                                        <option value="Quotation Success">Quotation</option>
                                        <option value="Proposal Success">Proposal</option>
                                        <option value="Payment Success">Success</option>
                                        <option value="Payment Gateway">Payment Gateway</option>
                                        <option value="Payment Fail">Fail</option>
                                    </select>
                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="project-tab">
            <nav>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="theFilters nav-item nav-link w-auto active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Approved</a>
                            <a class="theFilters m-0 nav-item nav-link w-auto" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Rejected</a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="MyProfileDet03Cnt p-0 bg-transparent border-0 createUserBox generateLinkBox">
                            <form class="m-0">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-wrap m-0 HomeSearchBox">
                                            <input type="text" placeholder="Search..." class="textdemo" ng-model="FilterName" ng-change="FilterUserListByName(FilterName)" />
                                            <i class="fa fa-search float-right"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row" ng-show="ShowNH">
                                            <div class="col-md-6">
                                                <select ng-model="SelectRoleByFilter" ng-options="item.rolename for item in RoleTypeList"
                                                        ng-change="BindReportings()" class="theFilters m-0">
                                                    <option value="">All</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select ng-model="RiportingManager" ng-options="item.userName for item in ReportingList"
                                                        ng-change="FilterUsers(RiportingManager)" class="theFilters m-0">
                                                    <option value="">Key Reporting Manager</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="PadRight text-right">
                        <div id="reportrange" ng-click="getDateRangeValue('LeadReport')" class="pull-right theFilters theFiltersClndr">
                            <span class="DateRangeShow BR"></span>
                            <i class="fa fa-calendar"></i><b class="caret"></b>
                        </div>
                        <div class="ml-auto threeDotted">
                            <div class="dropdown sub-dropdown">
                                <button class="btn-link text-muted border-0 bg-transparent" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                </button>
                                <div ng-show="IsDownloadRecord" class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-134px, 27px, 0px);">
                                    <a class="dropdown-item" ng-show="IsDownloadRecord" href="javascript:void(0)"
                                       ng-click="DownloadUserList('noniib')">Download</a>
                                    <a class="dropdown-item" ng-show="IsDownloadRecord" href="javascript:void(0)"
                                       ng-click="DownloadUserList('iib')">IIB Download</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Email</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="leadDetlsTable margin15_T_B">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="tableContainer">
                                            <table class="table table-bordered MainTable table-light" id="UserListData">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">User Code</th>
                                                        <th>User Name</th>
                                                        <th>Role</th>
                                                        <th>Created Date</th>
                                                        <th>Active For Business</th>
                                                        <th ng-if="LoadPrivileges.editrecord==1">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in userList">
                                                        <td class="ng-binding">
                                                            <button class="btn UserDetailsTR" ng-click="LoadSubUsers($index,item,DropDownSign,'#UserListData')">
                                                                <i class="fa fa-angle-down"></i> {{item.userid}}
                                                            </button>
                                                        </td>
                                                        <td class="ng-binding">
                                                            @*<input type="hidden" ng-include="$scope.signinfomodel.userList[$index]='Y'" />*@
                                                            <button class="btn" ng-click="UserInfo($index,item,'.signinfo','#UserListData')">
                                                                {{item.username}} {{signinfo}}<span class="signinfo">+</span>
                                                            </button>
                                                        </td>
                                                        <td class="ng-binding">{{item.rolename}}</td>
                                                        <td class="ng-binding">{{item.createddate}}</td>
                                                        <td class="ng-binding">{{item.posTraining}}</td>
                                                        <td class="ng-binding" ng-show="IsEditRecord">
                                                            <a href="" ng-click="showModel(item,'deregister')">Deregister</a> |
                                                            <a href="javascript:void(0)" ng-click="redirect(item,'N')">View</a> |
                                                            <a href="javascript:void(0)" ng-click="redirect(item,'Y')">Edit</a> |
                                                            <a href="#">Config</a> | <a href="javascript:void(0)" ng-click="redirectPrv(item)">Priv</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="mt-3">
                                            <input type="button" class="border-0 rounded allBtn" value="Prev" ng-click="Prev()" />
                                            <input type="button" class="border-0 rounded allBtn" value="Next" ng-click="Next()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="leadDetlsTable margin15_T_B">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tableHeadRow">
                                            <div class="row">
                                                <div class="col-md-6 PadRight">

                                                </div>


                                                <div class="col-md-6 PadRight text-right">
                                                    <div id="reportrange" ng-click="getDateRangeValue('LeadReport')" class="pull-right theFilters theFiltersClndr">
                                                        <i class="fa fa-calendar"></i><b class="caret"></b>
                                                    </div>
                                                    <div class="ml-auto threeDotted">
                                                        <div class="dropdown sub-dropdown">
                                                            <button class="btn btn-link text-muted dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-134px, 27px, 0px);">
                                                                <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                                <a class="dropdown-item" href="javascript:void(0)">Email</a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tableContainer">
                                            <table class="table table-bordered MainTable table-light" id="UnregisterUserListData">
                                                <thead>
                                                    <tr>
                                                        <th class="serial">User Code</th>
                                                        <th>User Name</th>
                                                        <th>Role</th>
                                                        <th>Created Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in UnregisteruserList">
                                                        <td class="ng-binding">
                                                            <button class="btn UserDetailsTR" ng-click="LoadSubUsers($index,item,DropDownSign,'#UnregisterUserListData')">
                                                                <i class="fa fa-angle-down"></i> {{item.userid}}
                                                            </button>
                                                        </td>
                                                        <td class="ng-binding">
                                                            @*<input type="hidden" ng-include="$scope.signinfomodel.userList[$index]='Y'" />*@
                                                            <button class="btn" ng-click="UserInfo($index,item,'.unsigninfo','#UnregisterUserListData')">
                                                                {{item.username}} {{signinfo}}<span class="unsigninfo">+</span>
                                                            </button>
                                                        </td>
                                                        <td class="ng-binding">{{item.rolename}}</td>
                                                        <td class="ng-binding">{{item.createddate}}</td>
                                                        <td class="ng-binding">
                                                            <a href="" target="_blank" ng-click="showModel(item,'register')">Register</a> |
                                                            <a href="javascript:void(0)" target="_blank" ng-click="redirect(item,'N')">View</a> |
                                                            <a href="javascript:void(0)" target="_blank" ng-click="redirect(item,'Y')">Edit</a> |
                                                            <a href="#">Config</a> | <a href="javascript:void(0)" target="_blank" ng-click="redirectPrv(item)">Priv</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Modal -->
        <div class="Createdmodal" ng-show="IsModelShow" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <div class="modal-body text-center">
                        <p>Are you sure you want to take this action?</p>
                        <p><input type="text" placeholder="Reason" ng-model="ReasonForDeregOrReg" /></p>
                        <button class="btn DeRgstrBTN" ng-click="ConfirmationDeregister(true)">Yes</button> 
                        <button class="btn DeRgstrBTN" ng-click="ConfirmationDeregister(false)">No</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

