<div class="CreatUser CreatUser02">
    <div class="container-fluid">
        <div class="close closeBtn" ng-click="CloseEnquiryInfo()"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="leadDetlsTable margin15_T_B">
                    <div class="parivaar-GetFullDetails">
                        <div class="row proposalBox03">
                            <div class="col-md-8 offset-md-2">
                                <span>{{offlineModel.enquiryNo}}</span>
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <div class="col-md-4" ng-repeat="item in ResponseInsurer">
                                    <a href="javascrip:void(0)" ng-click="downloadInsurer(item)">
                                        {{item.Compname}}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <span>{{offlineModel.remarks}}</span>
                            </div>
                            <div class="col-md-4">
                                <select ng-model="OfflineSelectInsurer"
                                        ng-options="item.Compname for item in ResponseInsurer">
                                    <option value="">Selectn Insurer</option>
                                </select>
                                <input type="button" ng-click="offlineselect(OfflineSelectInsurer)" value="Process" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
