@{
    ViewData["Title"] = "Feedback";
}
 <script src="https://centralapi.stariglocal.com/JsMaster/CRMJS/js/Home/Feedback.js"></script>
<div class="page-wrapper ng-scope open_Main" ng-controller="userFeedback" style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>User Feedback</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <select ng-model="FeedBackModel" ng-options="item.options for item in FeadbackList">
                    <option value="">Select Option</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="checkbox" class="ratingcheck" value="{{item}}" ng-click="checkRate(item)" 
                       ng-repeat="item in RatingCounter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <textarea class="form-control" ng-model="FeedbackText" placeholder="Enter your Feedback"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="button" value="Save" ng-click="AddFeedback()" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>